<md-dialog aria-label="Column Data">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Your Data</h2>
		</div>
	</md-toolbar>
	<md-dialog-content style="overflow:auto" layout="row" layout-wrap xlayout-margin>
		<md-button
      flex="50" xclass="md-raised"
      ng-click="openDataSet(data)"
      ng-repeat="data in dataSet track by $index">
      <!--{{data.objectId}} Created on: -->
      {{data.createdAt | date: 'shortDate'}} - {{data.createdAt | date: 'shortTime'}}</md-button>

	</md-dialog-content>
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-click="cancel()">
			Close
		</md-button>
	</div>
</md-dialog>
